*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background:linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
    
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
header .logo{
    
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
header ul{
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    
}

header ul li{
    margin-left: 20px;
}

header ul li a{
    padding: 6px 15px;
    color: white;
    text-decoration: none;
}
header ul li a:hover,
header ul li a.active
{
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    color: black;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
ul h3{
    color: white;
    font-weight: 200;
    list-style-type: disc;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 2;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
    
}

section #moon{
    mix-blend-mode: screen;
}

#text{
    position: absolute;
    color: white;
    font: 300;
    font-size: 100px;
    letter-spacing: 5px;
    white-space: nowrap;
    z-index: 0.8;
    right: -350px;
}
section img #mountain-behind{
    z-index: 1;
}

.btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    transform: translateY(100px);
    cursor: pointer;
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    word-spacing: 10px;
}

.sec p{
    font-size: 18px;
    color: rgb(209, 205, 205);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}